<!DOCTYPE html>
<html>
<head>
  <title>Card Editor</title>
  <meta charset=utf-8>
  <script src="/public/js/jquery-1.11.3.js"></script>
  <script src="/public/js/foundation.min.js"></script>
  <link rel="stylesheet" href="/public/css/foundation.css" />
  <link rel="stylesheet" href="/public/css/normalize.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
  <h1>{{ title }}</h1>
  {{{body}}}
</body>
</html>
