<!doctype html>
<html>
<head>
  <title>A Magic clone</title>
  <meta charset=utf-8>
  <script src="/public/js/lib/socket.io-1.3.5.js"></script>
  <script src="/public/js/lib/jquery-1.11.3.js"></script>
  <script src="/public/js/lib/underscore-1.8.3.js"></script>
  <script src="/public/js/lib/backbone-1.2.0.js"></script>
  <script src="/public/js/lib/foundation.min.js"></script>
  <script src="/public/js/frontend/models/card.js"></script>
  <script src="/public/js/frontend/models/player.js"></script>
  <script src="/public/js/frontend/models/hand.js"></script>
  <script src="/public/js/frontend/models/battlefield.js"></script>
  <script src="/public/js/frontend/views/turn.js"></script>
  <script src="/public/js/frontend/views/card.js"></script>
  <script src="/public/js/frontend/views/hand.js"></script>
  <script src="/public/js/frontend/views/player.js"></script>
  <script src="/public/js/frontend/views/card_popup.js"></script>
  <script src="/public/js/frontend/views/battlefield.js"></script>
  <script src="/public/js/frontend/global.js"></script>
  <script src="/public/js/frontend/client.js"></script>
  <link rel="stylesheet" href="/public/css/foundation.css" />
  <link rel="stylesheet" href="/public/css/normalize.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body class="game">
  <div id="application">
    <div id="opponent" class="row">
      <div class="util small-2 columns">
        <div class="deck"></div>
        <div class="controls bottom">
          <span id="enemy-turn" class="round alert label">Enemy turn</span>
        </div>
      </div>
      <div class="util small-8 columns">
        <ul class="hand"></ul>
      </div>
      <div data-player-ui="true" class="util small-2 columns"></div>
    </div>

    <div id="battlefield"></div>

    <div id="you" class="row">
      <div data-player-ui="true" class="util small-2 columns"></div>
      <div class="util small-8 columns">
        <ul class="hand"></ul>
      </div>
      <div class="util small-2 columns">
        <div class="controls top">
          <button id="action-turn" class="button round alert">Attack</button>
          <button id="end-turn" class="button round success">End turn</button>
        </div>
        <div class="deck"></div>
        </div>
      </div>
    </div>

    <div id="card-details"></div>
  </div>

  <div id="modal-message" class="reveal-modal tiny" data-reveal aria-labelledby="modal-title" aria-hidden="true" role="dialog">
    <h2 id="modal-title"></h2>
    <p id="modal-description"></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <input type="text" id="match-id" value="123120391280398102938"/>
  <button onclick="newMatch()">New Match</button>
  <button onclick="joinMatch()">Join Match</button>
</body>

</html>
