<form id="enchantment_form" action="">
<legend>New enchantment</legend>
  <div class="row">
    <label>Info</label>
  </div>

  <div class="row">
    <div class="columns small-6">
      {{> input_field name="description" value=description belongsTo="enchantment"}}
    </div>
    <div class="columns small-6">
      {{> select_field name="event" values=form.events placeholder="n/a" belongsTo="enchantment"}}
    </div>
  </div>

  <div class="row">
    <label>Target</label>
  </div>
  <div class="row">
    <div class="columns small-4">{{> select_field name="select" values=form.target.selects placeholder="n/a" belongsTo="enchantment"}}</div>
    <div class="columns small-4">{{> select_field name="type" values=form.target.types placeholder="n/a" belongsTo="enchantment"}}</div>
    <div class="columns small-4">{{> select_field name="condition" values=form.target.conditions placeholder="n/a" belongsTo="enchantment"}}</div>
  </div>
  <div class="row">
    <div class="columns small-4">{{> select_field name="band" values=form.target.bands placeholder="n/a" belongsTo="enchantment"}}</div>
    <div class="columns small-4">{{> input_field name="class" value="" labelWidth=5 inputWidth=7 belongsTo="enchantment"}}</div>
    <div class="columns small-4">{{> input_field name="quantity" value="" labelWidth=5 inputWidth=7 belongsTo="enchantment"}}</div>
  </div>
</form>
<div class="row">
  <label>Current Modifications</label>
</div>

<div class="row">
  <table id="mods_table"></table>
</div>

<div id="enchantment_form_buttons" class="row">
  <a href="#" class="success tiny button" id="save_enchantment_button">Save enchantment</a>
  <a href="#" class="tiny button" id="show_modification_form_button">Add modification</a>
  <a href="#" class="tiny button" id="cancel_enchantment_button">Cancel</a>
</div>

<form id="modification_form" action="">
  <label>New modification</label>
  <div class="row">
    <div class="columns small-4">{{> select_field name="spell" values=form.mod.spells placeholder="n/a"}}</div>
    <div class="columns small-4">{{> select_field name="attribute" values=form.mod.attributes placeholder="n/a"}}</div>
    <div class="columns small-4">{{> select_field name="operation" values=form.mod.operations placeholder="n/a"}}</div>
  </div>
  <div class="row">
    <div class="columns small-4">{{> select_field name="ability" values=form.mod.abilities placeholder="n/a"}}</div>
    <div class="columns small-4">{{> select_field name="multiplier" values=form.mod.multipliers placeholder="n/a"}}</div>
    <div class="columns small-4"> {{> input_field name="value" value="" labelWidth=5 inputWidth=7}} </div>
  </div>
  <div class="row">
    <a href="#" class="success tiny button" id="save_modification_button">Save modification</a>
    <a href="#" class="tiny button" id="cancel_modification_button">Cancel</a>
  </div>
</form>
